<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company Profile</h4>
        <ul>
          <li><a routerLink="/">About Us</a></li>
          <li><a routerLink="/">Our Services</a></li>
          <li><a routerLink="/">Privacy Policy</a></li>
          <li><a routerLink="/">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get Help</h4>
        <ul>
          <li><a routerLink="/">FAQ</a></li>
          <li><a routerLink="/">Shipping</a></li>
          <li><a routerLink="/">Returns</a></li>
          <li><a routerLink="/">Order Status</a></li>
          <li><a routerLink="/">Payment Options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Online Shop</h4>
        <ul>
          <li><a routerLink="/">Watch</a></li>
          <li><a routerLink="/">Bag</a></li>
          <li><a routerLink="/">Shoes</a></li>
          <li><a routerLink="/">Dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-links">
          <a routerLink="/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a routerLink="/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a routerLink="/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a routerLink="/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>