<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
        <li><a routerLink="/article/1">Angular 7</a></li>
        <li><a routerLink="/article/2">Python</a></li>
        <li><a routerLink="/article/3">MVC 4</a></li>
        <li><a routerLink="/article/4">Angular Material</a></li>
        <li><a routerLink="/article/5">SQL Server</a></li>
        <li><a routerLink="/article/1">Entity Framework</a></li>
        <li><a routerLink="/article/2">ASP.Net</a></li>
        <li><a routerLink="/article/3">CSS 3</a></li>
        <li><a routerLink="/article/4">TypeScript</a></li>
        <li><a routerLink="/article/5">Java</a></li>
    </ul>
</div>