<section class="blog-detail mtb-40">
    <div class="w-100" style="background: #ebe0db;">
        <h1 class="Sign-In-Header">Contact Us Here</h1>
    </div>
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Sasaram</div>
                    <div class="text-two">Kudra kaimur</div>
                </div>
                <div class="phone details">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 8290886498</div>
                    <div class="text-two">+91 8619907157</div>
                </div>
                <div class="email details">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">deepuji8255@gmail.com</div>
                    <div class="text-two">princesingh8255@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="popup-title-bg mt-1 ml-2 mb-2" style="width:215px;">
                    <label class="label-font">Send us a message</label>
                </div>
                <p>If you have any work from me or any types of quries related to my tutorial, you can send me message
                    from
                    here. It's my pleasure to help you.</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box message-box">
                        <textarea placeholder="Enter your message"></textarea>
                    </div>
                    <div>
                        <a routerLink="/" class="btn btn_style">Send Now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>